<% content_for :title, "New comment" %>

<h1>New comment</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <% if @post_path %>
    <%= link_to "Back to comments", controller: 'comments', action: 'for', post_path: @post_path %>
  <% end %>
</div>

