<% content_for :title, "New author" %>

<h1>New author</h1>
<p>(All fields are optional.)</p>

<%= render "form", author: @author %>

<br>

<div>
  <%= link_to "Back to authors", authors_path %>
</div>
